<footer>
    <div>
        <h4>Abstract</h4>
        <ul type="none">
            <li>Branches</li>
        </ul>
    </div>
    <div>
        <h4>Resources</h4>
        <ul type="none">
            <li>Blog</li>
            <li>Help Center</li>
            <li>Release Notes</li>
            <li>Status</li>
        </ul>
    </div>
    <div>
        <h4>Community</h4>
        <ul type="none">
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Facebook</li>
            <li>Dribbble</li>
            <li>Podcast</li>
        </ul>
    </div>
    <div>
        <h4>Company</h4>
        <ul type="none">
            <li>About us</li>
            <li>Career</li>
            <li>Legal</li>
            <li></li>
            <li style="margin-top: 1.75rem;"><h4>Contact me</h4></li>
            <li>iamshubham316@gmail.com</li>
        </ul>
    </div>
    <div class="end">
        <h4>&#169; Copyright 2023</h4>
        <h4>Dashaanan Studio Design, Inc.</h4>
        <h4>All rights reserved</h4>
    </div>
</footer>