footer{
    font-family: 'GT America Standard', sans-serif;
    background-color: var(--main-accent-color);
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 7rem 0;
    color: black;
}

ul{
    margin-top: .75rem;
}
li{
    font-size: .87rem;
    position: relative;
    right: 2.5rem;
    margin: .25rem 0 .25rem 0;

}
.end{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: relative;
    top: 3.5rem;
}